[build]
  base = "frontend"
  publish = "build"
  command = "npm install && CI=false npm run build"

[build.environment]
  NODE_VERSION = "18"
  NPM_CONFIG_CACHE = "/tmp/.npm"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200